{% extends "base_generic.html" %}

{% block content %}
  {% if error %}
          <p style="color: red">{{ error }}</p>
        {% endif %}
  <h1>Name: {{ bakeryItem.0.name }}</h1> 

  <p><strong>Seller:</strong> {{ bakeryItem.0.seller }}</p>
  <p><strong>Price:</strong> {{ bakeryItem.0.price }}</p>

  <base href="/bakery/" />

  <h2>Recommended Items</h2>
  {% if not recs %}
      <p>No recommendations for this item.</p>
  {% else %}
      {% for rec in recs.0 %}
        <li>
          <a href="{{ rec.0.get_absolute_url}} bakeryItem/{{ rec.0.item_id }} " >{{ rec.0.name }}</a> ({{rec.0.seller}})
        </li>
      {% endfor %}
  {% endif %}

  <p><a href="{{ bakeryItem.0.get_absolute_url}} updateItem/{{ bakeryItem.0.item_id }} " >Update Item</a></p>
  <p><a href="{{ bakeryItem.0.get_absolute_url}} deleteItem/{{ bakeryItem.0.item_id }} " >Delete Item</a></p>

{% endblock %}
